*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}

/* COMMON */
img{
    width: 100%;
    display: block;
}
.grey-text{
    color: grey;
}

/* BUTTON STYLING */
.green-btn, .transparent-btn{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
}
.green-btn:hover{
    background-color: green;
}
.transparent-btn:hover{
    background-color: white;
    color: #0c325a;
}
.green-btn{
    background-color: #7cbb02;
}
.transparent-btn{
    border: 1px solid white;
    padding: 10px 20px;
    background-color: #0c325a;
}




/* INIZIO HEADER STYLING */
.wrapped-header{
    padding-top: 20px;
    background-color: #0c325a;
    height: 550px;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.clearfix-nav, .container-title-btn{
    width: 85%;
    margin: auto;
}
.clearfix-nav::after{
    content: "";
    display: table;
    clear: both;
}

.logo-container{
    width: 180px;
}
.col.right{
    float: right;
}


.logo-container, .col{
    float: left;
}

/* COMMON list styling */
.nav-center{
    margin-left: 20px;
    line-height: 70px;
}
.nav-right{
    line-height: 70px;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
    padding-left: 20px;
}
li a{
    color: white;
}
li a:hover{
    color: orange;
}
li a, button{
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

/* HEADER title and button */
.container-title-btn{ /* width e margin in comune con .wrapper-nav */
    color: white;
    padding-top: 90px;
}
.container-title-btn h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.container-title-btn button{
    padding: 20px;
}
/* FINE HEADER STYLING */



/* INIZIO GREY ZONE */
.pre-main{
    height: 150px;
    width: 100%;
    background-color: #d3d3d3;
    position: relative;
    margin-bottom: 40px;
}
.center-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.center-text-box h4{
    margin-top: 10px;
    color: grey;
}
/*  FINE GREY ZONE */


/* INIZIO STYLING MAIN */
main hr{
    background-color: #cccccc;
    height: 1px;
    border: none;
    margin: 35px auto;
    width: 96%;
}
/* UPPERZONE STYLING */
.upperzone{
    width: 85%;
    margin: auto;
}
.upperzone::after{
    content: "";
    display: table;
    clear: both;
}

.img-container{
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.img-container.col-uno{
    background-image: url("../img/profile.svg");
}
.img-container.col-due{
    background-image: url("../img/computer.svg");
}
.img-container.col-tre{
    background-image: url("../img/doc.svg");
}

.card{
    text-align: center;
    float: left;
    width: 32%;
}
.paragraph-container{
    background-color: indigo;
}
.card.central{
    margin: 0 2%;
}
.card h2{
    color: #7cbb02;
    font-size: 32px;
}
.card hr{
    margin: 30px auto;
    width: 25%;
    background-color: #808080;
    height: 2px;
    border: none;
}
.card p{
    margin-bottom: 50px;
}
/* FINE UPPERZONE STYLING */


/* LOWERZONE STYLING */
.lowerzone{
    width: 85%;
    margin: auto;
    margin-top: 80px;
}
.lowerzone::after{
    content: "";
    display: table;
    clear: both;
}

/* right column lowerzone */
.lowerzone-column{
    float: left;
    width: 50%;
}
.mountain-img{
    background-image: url("../img/mountain.svg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}
/* left column lowerzone */
.lower-right-container{
    padding: 35px 0 55px 45px;
}
.lower-right-container h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.lower-right-container p{
    padding-bottom: 20px;
}
.lower-right-container a{
    font-size: 13px;
    color: #5586bc;
}
.lower-right-container a:hover{
    color: purple;
}

/* FINE LOWERZON STYLING */



/* INIZIO FOOTER */
footer{
    margin-top: 30px;
    height: 150px;
    width: 100%;
    background-color: #d3d3d3;
    position: relative;
}

.footer-content-box{
    width: 85%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 0;
}

/* dubbi sulla possibile correttezza di questa parte */
.footer-content-box h2, .footer-right-side{
    display: inline;
}

.footer-right-side{
    float: right;
}
.footer-content-box{
    float: left;
}
.footer-right-side button{
    padding: 15px 10px;
}
label, select{
    color: grey;
    font-size: 14px;
}
select{
    background-color: #d3d3d3;
    border: none;
    border-bottom: 1px solid rgb(163, 163, 163);
    outline: none;
    padding-right: 40px;
}

label,select, .footer-right-side button{
    margin-left: 30px;
}

/* sticky help */
.sticky-btn{
    position: fixed;
    bottom: 0;
    left: 85%;
    border-radius: 5px 5px 0 0;
}


/* FINE FOOTER */

/* VALIDATED */